$primary-color: #044395;
$background-color: #F2F2F2;
$primary-color-2: #056CF2;;
$deep-color: #0D0D0D;
$accent-color: #7B9413;
$text-color: #011530;
$text-color-2: #3A4149;
$secondary-color: #858585;
$secondary-color-2: #d1d1d1;
$light-color: white;
$error-color: #a54242;
