@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:wght@400;500;700&display=swap');

@import "colors";
@import "shadows";
@import "topography";
@import "variables";
@import "borders";

:root {
    --body-padding-x: 32px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    @include paragraph-regular;
}

body {
    background: $background-color;

}